$background-color: #192f2d;
$transparent-color: transparent;
$white-color: #ffffff;
$yellow-color: #fdd700;
$red-color: #fd0000;
$blue-color: #2299eb;
$green-color: #08aa05;
$box-border-color: #9df3ff;
$box-border-color-on-hover: #63b1bb;
$ice-blue: #24c5db;
$background-linear-gradient: radial-gradient(118.88% 606.86% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 100%);
$toys-item-background: radial-gradient(109.56% 109.56% at 0% -2.94%, rgba(255, 255, 255, 0.5) 0%, rgba(179, 246, 255, 0.5) 100%);
